@media screen and (max-width: 1240px) {
  .header {
    &__contacts {
      display: none;
    }
  }

  .container {
    padding: 40px;
  }

  .service {
    &__item {
      max-width: calc(50% - 15px);
    }
  }

  .gallery {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      width: 100%;
      height: 100%;
    }
  }

  .contact-us {
    &__inner {
      gap: 36px;
    }

    &__title {
      font-size: 34px;
      line-height: 46px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .call-now {
    &__inner {
      flex-direction: column-reverse;
      max-width: 420px;
    }

    &__photo-wrap {
      width: 100%;
      height: 220px;
    }

    &__content {
      padding: 32px 28px;
    }

    &__title {
      font-size: 26px;
      line-height: 36px;
    }
  }

  .container {
    padding: 40px 40px;
  }

  .menu {
    display: none;
  }

  .burger {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }

  .home {
    padding: 140px 0;

    &__top {
      margin-bottom: 40px;
    }

    &__quite {
      display: none;
    }

    // &__top {
    //   flex-direction: column;
    //   gap: 40px;
    //   align-items: start;
    //   margin-bottom: 40px;
    // }

    // &__quite {
    //   margin-left: 0;
    // }
  }

  .choose {
    &__list {
      flex-direction: column;
      align-items: center;
    }
  }

  .process {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 90px;
      justify-items: center;
      max-width: 536px;
      margin: 0 auto 44px;
    }
  }

  .footer {
    &__top {
      flex-direction: column;
      gap: 40px;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
    }

    &__link {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $white;
      width: 100%;
    }

    &__social-list {
      max-width: fit-content;
      gap: 38px;
    }

    &__privacy .footer__link {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .gallery--limited .gallery__item:nth-child(n+5) {
    display: none !important;
  }

  .title {
    font-size: 48px;
    line-height: 64px;
  }

  %button {
    padding: 10px 15px;
  }

  .home {
    &__inner {
      flex-direction: column;
    }

    &__form-wrapper .home__subtitle {
      padding-top: 30px;
      border-top: 2px solid $white;
      margin-top: 30px;
    }
  }

  .about {
    &__content-wrapper {
      max-width: 100%;
      padding: 279px 0 0 0;
    }

    &__content {
      &::before {
        width: 100%;
        border-radius: 16px;
      }
    }
  }

  .service {
    &__list {
      flex-direction: column;
    }

    &__item {
      max-width: 100%;
    }

    &__img {
      object-fit: cover;
      object-position: center center;
    }
  }

  .gallery {
    &__filter-list {
      flex-wrap: wrap;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .contact-us {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      max-width: 100%;
    }

    &__title {
      font-size: 28px;
      line-height: 38px;
    }
  }
}

@media screen and (max-width: 650px) {
  .process {
    &__list {
      display: block;
      max-width: 100%;
      margin: 0 0 44px;

      .slick-list {
        overflow: visible !important;
      }
    }

    &__item {
      display: flex !important;
      justify-content: center;
      padding-bottom: 60px;
    }
  }
}
