$black: #1a1a1a;
$white: #fff;
$dark-blue: #233559;
$light-blue: #e1f3ff;
$accent: #e9631a;
$gray: #676767;
$error: #d32f2f;
$blue-gradient: linear-gradient(125deg, $dark-blue 0%, $light-blue 100%);

%main-400 {
  font-family: "Poppins-Regular";
  font-weight: 400;
}

%main-500 {
  font-family: "Poppins-Medium";
  font-weight: 500;
}

%main-600 {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}

%main-700 {
  font-family: "Poppins-Bold";
  font-weight: 700;
}

%button {
  @extend %main-500;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 25px;
  background-color: $accent;
  border-radius: 8px;
  color: $white;
  border: 2px solid transparent;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: $white;
    color: $accent;
    border-color: $accent;
  }
}
